body{
    font-family: ãƒ¡ã‚¤ãƒªã‚ª;
	font-size: 13px;
	margin: 0;
	line-height: 1.5;
	background-color: #ffffff;
}

#imgdiv{
    text-align:center;
    padding-top:30px;
    padding-bottom:10px;
}

.mb-4{
    width: 300px;
	height: 70px;
}

.info{
    text-align:center;
    font-size: 20px;
}

.mid{
    width: 60%;
    padding-left: 10%;
    padding-right: 10%;
    margin-left: auto;
    margin-right: auto;
}

.form-floating{
    display: block;
    margin-bottom: 10px;
    font-size: .9em;
}

.form-control{
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #969da3;
    border-radius: 3px;
    font-size: 1em;
    line-height: 1.5;
    padding-top:10px;
    padding-bottom:10px;
    font-size:inherit;
}

.txt{
    font-family: ãƒ¡ã‚¤ãƒªã‚ª;
    font-size: 20px;
}

.CA{
    text-align:center;
}

.button{
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #FFA0C2;
	color: #FFFFFF;
	background-color: #FFA0C2;
    border-radius: 3px;
    font-size: 1em;
    line-height: 1.5;
	padding-top:10px;
    padding-bottom:10px;
    font-size:25px;
}